In [ ]:
import pandas as pd

s = pd.Series([7, 0, -3, 8, 1])
s

In [ ]:
data = [7, 0, -3, 8, 1]
inx = ['A', 'B', 'C', 'D', 'E']

s = pd.Series(data, index=inx)
s

In [ ]:
s[0]

In [ ]:
s['A']

In [ ]:
## pandas 핵심 자료구조 - DataFrame
# dict로 부터 생성하기

data = {
  'A' : [10, 20, 30],
  'B' : [40, 50, 60],
  'C' : [70, 80, 90],
}

df = pd.DataFrame(data, index = [1, 2, 3])
df

In [ ]:
import pandas as pd

values = [[10, 20, 30], [40, 50, 60], [70, 80, 90]]
index = [1,2,3]
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index=index, columns=columns)
df

In [ ]:
df.head(2) # 처음 2개 행

In [ ]:
df.tail(2) # 뒷부분 2개 행

In [ ]:
df[df.A >= 50] # 컬럼 A가 50 이상인 행을 조회

In [ ]:
# 정수 인덱싱
df.iloc[1:3]

In [ ]:
df.iloc[:, [1, 0]]

In [ ]:
# 레이블 인덱싱
df.loc[:,'A':'B']

In [ ]:
df.loc[df['B'] > 40, ['B', 'A']]

In [ ]:
df['C'] # 혹은 df.C

In [ ]:
df[['C','A','B']] # 특정 컬럼만 지정해서 순서대로 읽기

In [ ]:
# 리스트로 부터 생성하기

values = [
  ['2019-10', 17213058, 17695770, 7691742, 5811352, 4966225],
  ['2019-11', 15767139, 18344561, 9932071, 5760428, 2329041],
  ['2019-12', 14289812, 14807176, 12660962, 6626276, 8914585],
  ['2020-01', 4972074, 11391979, 9596229, 5834792, 3650543],
  ['2020-02', 23522875, 4874541, 4993788, 2757485, 5236393],
  ['2020-03', 25040023, 17347968, 6374132, 3168658, 6835417],
]

df = pd.DataFrame(values)
df

In [ ]:
# DataFrame을 생성하면서 컬럼 지정하기

cols = ['날짜', '삼성전자', 'LG전자', '현대자동차', 'SK텔레콤', 'KT']
df = pd.DataFrame(values, columns=cols)
df

In [ ]:
# 딕셔너리로 부터 생성
values = {
    '날짜': ['2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03'],
    '삼성전자': [17213058, 15767139, 14289812,  4972074, 23522875, 25040023],
    'LG전자': [17695770, 18344561, 14807176, 11391979,  4874541, 17347968],
    '현대자동차': [ 7691742,  9932071, 12660962,  9596229,  4993788,  6374132],
    'SK텔레콤' : [5811352, 5760428, 6626276, 5834792, 2757485, 3168658],
    'KT': [4966225, 2329041, 8914585, 3650543, 5236393, 6835417],
}

df = pd.DataFrame(values)
df

In [ ]:
dates = pd.to_datetime(['2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03'])
dates

In [ ]:
# 딕셔너리로 부터 생성
# 생성하면서 인덱스를 지정
import pandas as pd

values = {
    '삼성전자': [17213058, 15767139, 14289812,  4972074, 23522875, 25040023],
    'LG전자': [17695770, 18344561, 14807176, 11391979,  4874541, 17347968],
    '현대자동차': [ 7691742,  9932071, 12660962,  9596229,  4993788,  6374132],
    'SK텔레콤' : [5811352, 5760428, 6626276, 5834792, 2757485, 3168658],
    'KT': [4966225, 2329041, 8914585, 3650543, 5236393, 6835417],
}

dates = pd.to_datetime(['2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03'])
df = pd.DataFrame(values, index=dates)
df

In [ ]:
# 인덱스(index)
df.index

In [ ]:
# 열(column)
df.columns

In [ ]:
# 값 (2차원 배열)
df.values

## df.dtypes
df.dtypes - 각 컬럼의 데이터 타입을 확인

In [ ]:
# 열(column)과 타입
df.dtypes

## DataFrame 데이터 살펴보기

In [ ]:
# 전체 살펴보기
df

len(df) - 행(row)의 수

In [ ]:
# 행(row) 수 (df.shape[0] 와 동일하다)
len(df)

In [ ]:
# 컬럼 살펴보기
df.삼성전자

In [ ]:
# 컬럼(Series) 살펴보기
df['삼성전자']

DataFrame 데이터 살펴보기
* df.head() - 앞 부분 보기
* df.tail() - 뒷 부분 보기

In [ ]:
# 앞 부분 보기 (기본 5행)
df.head(2)

In [ ]:
# 뒷 부분 보기 (기본 5행)
df.tail(2)

## 컬럼 지정하기

In [ ]:
df.KT

In [ ]:
df['KT']

In [ ]:
df.values

In [ ]:
df.KT.values

## 데이터 요약 - df.describe()

In [ ]:
# 모든 컬럼의 기술통계(descriptive stats) 값
df.describe()

## 인덱스 기반 조회
* loc: 라벨 인덱싱
* iloc: 정수 인덱싱

In [ ]:
df

In [ ]:
# 특정 날짜를 지정
df.loc['2020-01-01']

In [ ]:
# 컬럼을 추출

df.loc[:, ['SK텔레콤','KT']]

In [ ]:
# 날짜의 범위를 지정
df.loc['20200101': '20200229',['SK텔레콤','KT']]

In [ ]:
df.loc[:, ['삼성전자','KT']] # 모든 로우, 컬럼 '삼성전자','KT' 선택

In [ ]:
# 특정 행을 지정 (결과는 Series가 됩니다)
df.loc['20200101', ['SK텔레콤','KT']]

In [ ]:
# 특정 값 하나를 얻습니다.
df.loc['20200101', '현대자동차']

In [ ]:
# 특정 값 하나를 얻습니다. (동일한 표현입니다. 값 1개만 찾을때 사용하며 속도가 더 빠릅니다)
df.at['20200101', '현대자동차']

In [ ]:
df.iloc[1] # 1 행(두번째 행)

In [ ]:
df.iloc[1:3] # 1~2행

In [ ]:
#첫번째 행(row), 첫번째 열(column)
df.iloc[0,0]

In [ ]:
# 처음 4개 행(row), 처음 2개 열(column)
df.iloc[0:4, :2]

In [ ]:
# 특정 행을 지정하고, 컬럼의 범위를 지정
df.iloc[[5, 2], 1:3]

# 컬럼 연산
* 컬럼 추가
* 컬럼간 사칙연산
* 컬럼 삭제 (del)

In [ ]:
df

In [ ]:
# 컬럼 추가

df['텔레콤_합계'] = 0
df

In [ ]:
# 컬럼 덧셈하여 결과를 새로운 컬럼으로
df['텔레콤_합계'] = df['SK텔레콤'] + df['KT']
df

In [ ]:
df['전자_합계'] = df['삼성전자'] + df['LG전자']
df

## 컬럼 단위 데이터 변경

In [ ]:
# 모든 개별값을 100000으로 나눈 결과를 df에 할당
df = df / 100000.
df

## 컬럼 삭제
df.drop() 사용하면서 축(axis)를 지정

In [ ]:
# 특정 컬럼 삭제
df = df.drop('텔레콤_합계', axis=1)
df

In [ ]:
# del 명령으로 특정 컬럼 삭제
del df['전자_합계']
df

## 부울 인덱스 (데이터 필터링)

In [ ]:
df

In [ ]:
df.삼성전자 < 150

In [ ]:
# '삼성전자'컬럼이 150초과인 행(row) 추출
df[df.삼성전자 < 150]

In [ ]:
df.삼성전자.mean()

In [ ]:
# 삼성전자 컬럼의 값이 평균보다 큰 행(row) 추출
df[df.삼성전자 > df.삼성전자.mean()]

## 다수의 조건으로 필터링하기

In [ ]:
df

In [ ]:
(150 < df.삼성전자 ) & (df.삼성전자 < 200)

In [ ]:
df[(150 < df.삼성전자 ) & (df.삼성전자 < 200)]

## df.query()

```python
df.query('쿼리문자열')
```

In [ ]:
df.query('150 < 삼성전자 < 200')

In [ ]:
df.query('삼성전자 > 삼성전자.mean() and  LG전자 > LG전자.mean()')

## 데이터 소트하기

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_values(by='삼성전자', ascending=False)