## 결측치 처리하기

In [ ]:
import pandas as pd

data = [
  [  10,   20, None, 100],
  [  20,   20, None, 200],
  [None, None, None, None],
  [None, None, None, 400],
]

df = pd.DataFrame(data, columns=list('ABCD'))
df

In [ ]:
df.dropna(how='all')

In [ ]:
df.dropna(axis=1, how='all')

## 결측치를 다른 값으로 바꾸기

```python
df.fillna(value=0)
```

In [ ]:
data = [
  [  10,   20, None, 100],
  [  20,   20,   80, 200],
  [  30,   40, None, 300],
  [None, None,  400, 400],
]

df = pd.DataFrame(data, columns=list('ABCD'))
df

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(-1)

## 데이터 병합 concat
```python
pd.concat(axis=0)
```

In [ ]:
df_01 = pd.DataFrame([[11, 12, 13], [14, 15, 16]], columns=list('ABC'))
df_01

In [ ]:
df_02 = pd.DataFrame([[21, 22, 23], [24, 25, 26]], columns=list('ABC'))
df_02

In [ ]:
pd.concat([df_01, df_02])

In [ ]:
df_01 = pd.DataFrame([[11, 12], [14, 15]], columns=list('AB'))
df_01

In [ ]:
df_02 = pd.DataFrame([[21, 22], [24, 25]], columns=list('CD'))
df_02

In [ ]:
pd.concat([df_01, df_02])

In [ ]:
pd.concat([df_01, df_02], axis=1)

## 데이터 병합 - merge

```python
pd.merge(df1, df2, how='inner')
```

In [ ]:
관심종목 = [
  ['005930', '삼성전자'],
  ['017670', 'SK텔레콤'],
  ['105560', 'KB금융'],
]

배당 = [
  ['005930', '삼성전자', 21000.0, 1.05],
  ['000660', 'SK하이닉스', 500.0, 1.02],
  ['005380', '현대차', 4000.0, 2.74],
  ['105560', 'KB금융', 980.0, 2.0],
  ['015760', '한국전력', 3100.0, 7.45],
]

df1 = pd.DataFrame(관심종목, columns=['종목코드', '종목명'])
df2 = pd.DataFrame(배당, columns=['종목코드', '종목명', '주당배당금', '배당수익률'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, how='left')

왼쪽 DataFrame을 기준으로 삼으려면 how='left' 를 지정합니다. 왼쪽 DataFrame에 있는 로우들은 모두 결과에 포함됩니다.

In [ ]:
pd.merge(df1, df2, how='outer')

## 데이터 병합 - 인덱스 활용
```python
df.set_index('index_col') # 인덱스 지정
```

In [ ]:
# 종목코드에 인덱스를 부여합니다

관심종목 = [
  ['005930', '삼성전자'],
  ['017670', 'SK텔레콤'],
  ['105560', 'KB금융'],
]

배당 = [
  ['005930', '삼성전자', 21000.0, 1.05],
  ['000660', 'SK하이닉스', 500.0, 1.02],
  ['005380', '현대차', 4000.0, 2.74],
  ['105560', 'KB금융', 980.0, 2.0],
  ['015760', '한국전력', 3100.0, 7.45],
]

df1 = pd.DataFrame(관심종목, columns=['종목코드', '종목명'])
df2 = pd.DataFrame(배당, columns=['종목코드', '종목명', '주당배당금', '배당수익률'])

In [ ]:
df1 = df1.set_index('종목코드')
df1

In [ ]:
df2 = df2.set_index('종목코드')
df2

In [ ]:
df1['배당수익률'] = df2['배당수익률']
df1

In [ ]:
df1[['주당배당금', '배당수익률']] = df2[['주당배당금', '배당수익률']]
df1

## 피벗 (pivot)
```python
df.pivot(index='col_i', columns='col_c', values='col_v')
```

In [ ]:
import pandas as pd

data = [
  ['2013-01', 'KT', 60.30],
  ['2013-02', 'KT', 69.60],
  ['2013-03', 'KT', 64.38],
  ['2013-01', 'KT', 52.77],
  ['2013-02', 'SKT', 95.23],
  ['2013-03', 'SKT', 84.20],
]

df = pd.DataFrame(data, columns=['month', 'corp', 'ad_exp'])
df

In [ ]:
df.pivot_table(index='month', columns='corp', values='ad_exp')

In [ ]:
# 간단한 예제
import pandas as pd

data = [
  ['1', 'A', 10],
  ['1', 'A', 20],
  ['2', 'A', 30],
  ['2', 'B', 40],
]

df = pd.DataFrame(data, columns=['ix', 'col', 'val'])
df

In [ ]:
df.pivot_table(index='ix', columns='col', values='val', aggfunc='sum')

In [ ]:
import pandas as pd

data = [
  ['2013-01', 'KT', 50.30],
  ['2013-01', 'KT', 10.09],
  ['2013-02', 'KT', 69.60],
  ['2013-03', 'KT', 64.38],
  ['2013-01', 'SKT', 52.77],
  ['2013-02', 'SKT', 95.23],
  ['2013-03', 'SKT', 84.20],
]

df = pd.DataFrame(data, columns=['month', 'corp', 'ad_exp'])
df

In [ ]:
df.pivot_table(index='month')

In [ ]:
df.pivot_table( index='month', columns='corp' )

In [ ]:
df.pivot_table( index='month', columns='corp', values='ad_exp', aggfunc='sum')

In [ ]:
df.pivot_table( index='month', columns='corp', values='ad_exp', aggfunc='sum', margins=True)