# Numpy 사업성분석

In [1]:
import numpy as np

discount = 0.05
cashflow = 100 # 100억

def presentvalue(n): # n:년도수
    return (cashflow / ((1+discount ** n)))

In [2]:
presentvalue(1)

95.23809523809524

In [3]:
for i in range(20):
    print(presentvalue(i))

50.0
95.23809523809524
99.75062344139651
99.98750156230471
99.99937500390622
99.99996875000976
99.99999843750003
99.999999921875
99.99999999609375
99.99999999980469
99.99999999999024
99.99999999999952
99.99999999999997
100.0
100.0
100.0
100.0
100.0
100.0
100.0

In [4]:
loss = [-750, -250]
profit = [100] * 18
cf = loss + profit

In [5]:
cashflow = np.array(cf)

In [7]:
!pip install numpy_financial

Collecting numpy_financial
  Downloading numpy_financial-1.0.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.15 in /opt/anaconda3/envs/study/lib/python3.7/site-packages (from numpy_financial) (1.21.6)
Installing collected packages: numpy_financial
Successfully installed numpy_financial-1.0.0

In [8]:
import numpy_financial as npf

In [9]:
npf.npv(0.05,cashflow)

125.19875263336485

In [11]:
irr1 = npf.irr(cashflow)
irr1 # 내가 얻을 수 있는 수익률

0.06434936937255586

# Pandas 아파트 실거래가 정보

In [12]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-macosx_10_9_x86_64.whl (11.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.0/11.0 MB 21.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/envs/study/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/envs/study/lib/python3.7/site-packages (from pandas) (1.21.6)
Collecting pytz>=2017.3
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 23.1 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/study/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.5 pytz-2023.3

In [20]:
import pandas as pd

data = {'name': ['Mark','Jane','Chris','Ryan'],
       'age': [33,32,44,42],
       'score':[91.3,83.4,77.5,87.7]}

df = pd.DataFrame(data)
df.mean()
df1 = df.sum()

/opt/anaconda3/envs/study/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [23]:
df.age
df['age']

0    33
1    32
2    44
3    42
Name: age, dtype: int64

In [28]:
import pandas as pd
import re, os

os.chdir(r'/Users/jaeyeon/Desktop/STUDY/데이터청년캠퍼스/data') # 경로지정

df = pd.read_csv('apt.csv',encoding ='CP949')

In [29]:
df.head() #상위 5개 데이터를 보여줌
df.tail() #하위 5개

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.76,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.68,201910,26,11200,11,2002,원호암5길 32

In [32]:
df2 = df[df.면적 > 130]

In [33]:
df2['가격']

6        34300
39       21000
334      29500
433      26000
434      24000
         ...
42595    15000
42607    18500
42663    31500
42736    18500
42737    16200
Name: 가격, Length: 1567, dtype: int64

In [39]:
df3 = df2[(df2.면적>140) & (df2.가격)<25000]

In [45]:
df.loc[:,['아파트','가격']][df.가격>40000]

                  아파트     가격
382          속초청호아이파크  45800
541          무실e-편한세상  44600
592          원주반곡아이파크  40700
842    온의 롯데캐슬 스카이클래스  44000
843    온의 롯데캐슬 스카이클래스  42900
...               ...    ...
42364       신영지웰시티 1차  47700
42365       신영지웰시티 1차  46000
42366       신영지웰시티 1차  55800
42367       신영지웰시티 1차  67000
42424          봉명아이파크  49000

[10486 rows x 2 columns]